.col-md-6 {
	margin: auto;
}
.form-group {
	margin-bottom: 1rem;
}
.button-group {
	text-align: right;
}
.error, .error:focus {
	background-color: #ff080885;
	transition: all 1s ease-out 0s;
}
.error-text {
	color: #A60000;
	margin-top: 0.2rem;
	font-size: 0.8rem;
}

